@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#B24C63;
    --color2:#5438DC;
    --color3:#357DED;
    --color4:#56EEF4;
    --color5:#32E875;
    --color6:black;
    --color7:white;
}

.hidden{
    display: none;
}

.character{
    width: 100px;
}

body {
    font-family: "Pixelify Sans", sans-serif;
}

.menu-buttons{
    display: flex;
    align-items: center; 
    justify-content: center;
    padding: 5px;
}

#b-start , #b-comment{
    background-color: var(--color1);
    color: var(--color6);
    width: 160px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.208);
    border-radius: 20px;
    font-size: 20px;
}

#b-start:hover , #b-comment:hover{
    background: var(--color2);
    color: var(--color7);
    transform: scale(1.1)
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 10px solid rgb(35, 168, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

.container {
    width: 100%;
}

#score, #level{
    text-align: center;
    color: #B24C63;
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.548);
}

.rock{
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: rock-animation 1s infinite linear;
}

.pe{
    position: absolute;
    width: 190px;
    bottom:0;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes rock-animation{
    from{
        right: -60px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0px;
    }

    40%{
        bottom: 100px;
    }

    50%{
        bottom:100px;
    }

    60%{
        bottom: 100px;
    }

    100%{
        bottom: 0px;
    }
}
