@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color1:#B24C63;
    --color2:#5438DC;
    --color3:#357DED;
    --color4:#56EEF4;
    --color5:#32E875;
    --color6:black;
    --color7:white;
}

.hidden{
    display: none;
}

.character{
    width: 100px;
}

body {
    font-family: "Pixelify Sans", sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#menu, #select-character{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;

}

.menu-buttons,  #select-character, #return-menu{
    margin: 0 5px;
    padding: 5px;
}

#b-start , #b-comment, #return-menu{
    background-color: var(--color1);
    color: var(--color6);
    width: 160px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.208);
    border-radius: 20px;
    font-size: 20px;
}

#character-1, #character-2{
    background-color: var(--color1);
    color: var(--color6);
    width: 150px;
    height: 150px;
    border: none;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.208);
    border-radius: 20px;
    font-size: 20px;
}

#b-start:hover , #b-comment:hover, #character-1:hover, #character-2:hover, #return-menu:hover {
    background: var(--color2);
    color: var(--color7);
    transform: scale(1.1)
}

#select-character > button > img{
    width: 150px;
    height: 150px;
    align-items: center;
}

#game-over {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    z-index: 9999;
    font-size: 30px;
}

#title{
    color: #5438DC;
    padding: 5px;
}

#gameOv{
    padding: 5px;
    color: var(--color3);
}


.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 10px solid #379634;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background-image: url(./images/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    width: 100%;
}

#score, #level{
    text-align: center;
    color: #B24C63;
    font-size: 1.2em;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.548);
}

.rock{
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: rock-animation 1s infinite linear;
}

.pe{
    position: absolute;
    width: 190px;
    bottom:0;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes rock-animation{
    from{
        right: -60px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0px;
    }

    40%{
        bottom: 100px;
    }

    50%{
        bottom:100px;
    }

    60%{
        bottom: 100px;
    }

    100%{
        bottom: 0px;
    }
}
