@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

body {
    font-family: "Pixelify Sans", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 10px solid rgb(35, 168, 35);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E0F6FF);
}

#score{
    position: absolute;
    color: #B24C63;
}

.rock{
    position: absolute;
    bottom: 0;
    width: 60px;
    animation: rock-animation 1s infinite linear;
}

.me{
    position: absolute;
    width: 190px;
    bottom:0;
}

.jump{
    animation: jump 500ms ease-out;
}

@keyframes rock-animation{
    from{
        right: -60px;
    }
    to{
        right: 100%;
    }
}

@keyframes jump {
    0%{
        bottom: 0px;
    }

    40%{
        bottom: 100px;
    }

    50%{
        bottom:100px;
    }

    60%{
        bottom: 100px;
    }

    100%{
        bottom: 0px;
    }
}